  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
    /* put a font on the site */
     * {
      font-family: 'Yanone Kaffeesatz', sans-serif;
    }


    .mainBG {
      background-color:  #0D3B66;
      color: white;
    }
    
    .secondBG {
      color: #0D3B66;
    }

    .thirdBG {
      background-color:#FAA916;
    }
    
    .flex {
      display: flex;
    }

    .fullCenter {
      align-items: center;
      justify-content: center;
    }

    .column {
      flex-direction: column;
    }

    .icone {
      height: 20px;
      width: auto;
      margin:0 15px 0 15px;
    }

    body {
      background-color:#FAA916;
      margin: 5px;
      height: 100%;
      padding: 10px;
    }
    
    header {
      background-color:#FAA916;
      margin: auto;
      height: 15vh;
    }
    
    header nav {
      padding: 0 20px 0 20px;
      margin: 5px;
      height: 13vh;
    }
    
    main {
      min-height: 80vh;
    }
    
    section {
      margin : 10px;
      margin-bottom: 50px;
      width: 75vw;
    }

    article {
      background-color: white;
      width: 100%;
      border-radius: 5px;
      margin: 5px;
      padding: 10px;
      height: 100%;
    }

    div {
      width: 100%;
      height: auto;
    }
    
    a {
      text-decoration: none;
      color: white;
      margin-right: 5px;
    }
    
    p {
      font-size: 1.5em;
    }
    input:invalid {
      border: 3px solid red;
    }
    
    input:valid {
      border: 1px solid black;
    }

    /* Add a effect when hover an a on the top / exclude footer nav a */
    body>nav a:hover {
      background-color: #FAA916;
      color: #0D3B66;
      padding: 10px 50px 10px 50px;
      border: #0D3B66 solid 3px;
      border-radius: 10px;
      transition: 0.5s;
    }
    
    /* table and table elements */
    table {
      border: 1px solid #0D3B66;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-size: 1em;
    }

    caption {
      font-size: 2em;
    }

    th {
    font-size: 1em;
    }

    td {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1em;
    }

    footer div {
      margin: 5px;
      font-size: 1em;
    }

    /* put some size to nav for smallest phones */
    nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 0.80em;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
    }
    
    li {
      margin-left: 8px;
    }
    
    h2, h3, h4 {
      margin: 10px;
      font-size: 2em;
    }
    
    h1 {
      margin :10px;
      height: auto;
      width: 66%;
      font-size: 2.5em;
    }
    
    h4 {
    font-size: 2em;
    }
    
    h6 {
      font-size: large;
      margin: 0;
    }
    
    picture {
      display: flex;
      justify-content: center;
    }

    footer p{
      font-size: 1em;
    } 

    .verticalalign {
      vertical-align: top;
    }

    iframe {
      height: 20vw;        
      width: 36vw;
      border-radius: 2vh;
    }
    .logo {
      width: 12vw;
      height: auto;
      }
        
    .photo {
      width: 25vw;
      height: auto;
      border-radius: 5px;
      margin: 5px;
      }

    .formGroup{
      margin : 15px;
      }
    

/* utility classes */
   
/* give an biggest size for phones largest than iphone 5 */
@media screen and (min-width: 376px){
  nav ul {
    font-size: 1.2em;
  }

  .formGroup{
    font-size: 1.2em;
  }

}

/* adjust font sizes to medium phones */
@media screen and (min-width: 576px){
  h1 {
    font-size: 4em;
  }

  nav ul {
    font-size: 1.9em;
  }
  
  table {
    font-size: 2em;
  }

  .icone {
    height: 25px;
  }

  .formGroup{
    font-size: 1.7em;
    vertical-align : top;
  }

}

/* adjust font size to largest phones */
@media screen and (min-width: 768px){
  h1 {
    font-size: 5em;
  }

  h3, h4{
    font-size: 2.5em;
  }

  nav ul {
    font-size: 2.5em;
  }

  table {
    font-size: 2.5em;
  }

  .icone {
  height: 30px;
  }

  p {
    font-size: 2em;
  }

  .formGroup{
    font-size: 2em;
  }
}

/* adjust font size for tablet */
@media screen and (min-width: 992px){
  h1 {
    font-size: 6em;
  }
  nav ul {
    font-size: 2em;
  }
  table {
    font-size: 3em;
  }
  .icone {
    height: 35px;
    }
}

/* comuter sizes */
@media screen and (min-width: 1200px){
  h1 {
    font-size: 8em;
  }
  nav ul {
    font-size: 2.5em;
  }
  table {
    font-size: 3.5em;
}
  .icone {
  height: 40px;
  }
  .formGroup{
    font-size: 2.5em;
  }
}

    /* specific classes */
   
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  