* {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color:  #0D3B66;
    border-radius: 1%;

}
header {
    height: 100px;
    display: flex;
    border-radius: 3%;

}
.logo {
    max-width: 33%;
    height: auto;
}
H1 {
    height: auto;
    font:#FFFFCC ;
    width: 66%;
    align-self: center;
    font-size: 58px;
}
nav {
    height: 30px;
    display: flex;
}
.navBtn {
    width: 33%;
    border-radius: 3%;
}
main {
    height: 600px;
    background-color:  #FFFFCC;
}
div {
    background-color:  #FFFFCC;
    display: flex;
    flex-flow:wrap column;
    height: 200px;

}
div>p {
    background-color:  #FFFFCC;
    width: 45%;
}
.photo {
    margin :10px;
    width: 45%;
    height: 180px;
}
h2 {
    background-color:  #FFFFCC;
}
h3{
    background-color:  #FFFFCC;
}
h6 {
    font-size: large;
}

footer {
    background-color:  #0D3B66;
    height: 75px;
}
