* {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color:  #0D3B66;
    border-radius: 1%;
    color: #FFFFCC;

}
header {
    height: 100px;
    display: flex;
    border-radius: 3%;

}
.logo {
    max-width: 33%;
    height: auto;
}
H1 {
    height: auto;
    font:#FFFFCC ;
    width: 66%;
    align-self: center;
    font-size: 58px;
}
nav {
    height: 30px;
    display: flex;
    align-items: stretch;
}
.navBtn {
   width: 33%;
    font-size: larger;
    border-radius: 3%;
}
main {
    background-color:  #FFFFCC;
}
div {
    background-color:  #FFFFCC;
    display: flex;
    flex-flow:wrap column;
    height: 200px;
    color: black;
    flex-wrap: wrap;
}
figure{
    background-color: #FFFFCC;
}
a{
    background-color: #FFFFCC;
    color: black;
}
div>p {
    background-color:  #FFFFCC;
    width: 45%;
    align-self: center;
    color: black;
    align-self: stretch;

}
.photo {
    margin :10px;
    width: 35%;
    height: auto;
}
h2 {
    margin:10px;
    background-color:  #FFFFCC;
    color: black;

}
h3{
    margin:10px;
    background-color:  #FFFFCC;
    color: black;

}
h4 {
    background-color:  #FFFFCC;
    color: black;
    justify-self: baseline;
}
h6 {
    font-size: large;
}

footer {
    background-color:  #0D3B66;
    height: 75px;
}
