/* * {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mainBG {
    background-color:  #0D3B66;
    color: #FFFFCC;

}
.secondBG {
    background-color:  #FFFFCC;
    color: #0D3B66;
}
.logo {
    max-width: 33%;
    height: auto;
}
.photo {
    width : 175px;
    height: auto;
    }


header {
    height: 100px;
    display: flex;
}

nav {
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style-type: none;
  }
  
nav ul li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-size: larger;
    color: #FFFFCC;
}
  
div {
    width: 50%;
    padding: 5px;
}


section {
    height: 300px;
    margin : 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section>div {
    height: 32vh;
    margin : 10px;
}
H1 {
    margin :10px;
    height: auto;
    width: 66%;
    align-self: center;
    justify-self: flex-end;
    font-size: 3em;
}
h2, h3, h4 {
    margin:10px;
}

h4 {
    justify-self: baseline;
}
h6 {
    font-size: large;
} */
